*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    line-height: 1.6;
    background-color: grey;
}

h1{
    font-size:36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
    text-transform: uppercase;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow:  0 0 6px cadetblue;
    border-radius:5px;
    font-size: 18px;
    color: #00000094;

}
#search-button{
    padding: 10px 20px;
    background-color: cadetblue;
    color: black;
    border: none;
    font-size: 18px;
    box-shadow:0 0 6px rgba(0, 0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;

}
.search-results{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    flex-wrap:wrap;
    max-width:1200px;
    margin:0 auto; 
}
.search-result{
    margin-bottom: 50px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow:  0 0 6px rgba(255, 38, 38, 0);
    overflow: hidden;

}
.search-results img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;

}
.search-results:hover img{
    opacity: 0.8 ;
    /* transform: scale();  */

}
.search-results a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    display: block;
    text-transform: uppercase;
}
#show-more-button{
    background-color:aqua;
    font-size: 18px;
    border: none;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    display:block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#show-more-button:hover{
    opacity: 0.8;
    color: rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
    .search-results{
        padding: 20px;
    }
    .search-results{
        width: 45%;
    }
}
@media screen and (max-width: 480px) {
    .search-results{
        width: 100%;
    }
}